* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15.5rem;
  background-color: #000000;
  padding-left: 1.8rem;
  padding-top: 2.5rem;
  padding-right: 5rem;
}
.sidebar .logo img {
  width: 12.5rem;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 2rem;
}
.sidebar .navigation ul li {
  padding: 0.7rem;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
  font-size: 2rem;
  margin-right: 1rem;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}
.sidebar .policies {
  position: absolute;
  bottom: 7rem;
}
.sidebar .policies ul {
  list-style: none;
}
.sidebar .policies ul li {
  padding-bottom: 0.2rem;
}
.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}

.main-container {
  margin-left: 22rem;
  margin-bottom: 1rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 2rem 0.5rem;
}
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  font-size: 1.8rem;
  border: 0;
  background-color: #090909;
  margin-right: 0.2rem;
  margin-left: 1.5rem;
}
.topbar .navbar {
  display: flex;
  align-items: center;
}
.topbar .navbar ul {
  list-style: none;
}
.topbar .navbar ul li {
  display: inline-block;
  margin: 0;
  width: 10rem;
}
.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: #ffffff;
  font-size: 1.8rem;
}
.topbar .navbar ul li.divider {
  color: #ffffff;
  font-size: 1.8rem;
  margin: 0 1rem;
  width: auto;
}
.topbar .navbar button {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 1.2rem;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
  background-color: #f2f2f2;
}
.spotify-playlists {
  padding: 2rem 2rem;
}
.spotify-playlists h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.spotify-playlists .list {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
}
.spotify-playlists .list .item {
  min-width: 15rem;
  width: 10rem;
  padding: 1.2rem;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover {
  background-color: #252525;
}
.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1.2rem;
}
.spotify-playlists .list .item .play {
  position: relative;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 1rem;
  top: -5.5rem;

  padding: 1rem;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
.spotify-playlists .list .item h4 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spotify-playlists .list .item p {
  color: #989898;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
}
.spotify-playlists hr {
  margin: 0.2rem;
  border-color: #636363;
}

.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
}
.preview h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.preview p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
}
.preview button {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 1rem;
}
